/* your code */

table{
	border-radius : 10px;
	border : 1px solid black;
	border-collapse : collapse;
}
tr:nth-child(even) {
	background-color : #757575;
}
thead {
	background-color : #3498db;
		
}
	th, td {
  padding: 15px;
		
}
	
