/* your code */

table{
	
	border : 1px solid #d3d3d3;
	border-collapse : collapse;
	border-radius : 5px;
}
tr:nth-child(even) {
	background-color : #d3d3d3;
}
thead {
		color: #ffffff;
	background-color : #0072bb;	
		
}
	th, td {
  padding: 15px;
			
}
	
